* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

#background {
background: url(http://localhost/img/background.jpg) repeat center center fixed; 
background-size: cover;
}

.grid {
    position:fixed;
    width: 100%;
    height: 100%;

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.grid > div {
    background-color: #999999;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
    text-align:center;
    box-sizing: border-box;

    flex: 1 1 33%;
    -webkit-flex: 1 1 33%;
}