<!DOCTYPE html>
<html ng-app>
<head>
  <title>Zen Back</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/angular/angular.min.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body ng-controller="ZenCtrl">

  <h2 class="center">Zen Back</h2>
  <div class="dark-border">
    
  <div class="grid">
    <div ng-repeat="cell in cells">
      {{cell}}
    </div>
  </div>

    <div style="margin: 10%; width: 80%;" class="topcoat-button center full" ontouchend="playAudio()">Play</div>
  </div>

<input type="number"
       ng-model="{num_cells}">

<h4>Difficulty</h4>
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="difficulty" class="sr-only">N</label>
    <select ng-model="difficulty" ng-options="d for d in difficulty_options" class="form-control" id="difficulty">
    </select>
  </div>
</form>

<h4>Progress</h4>
<table class="info">
  <tr>
    <td class="type">Accuracy:</td><td class="value">{{accuracy}}%<td>
  </tr> 
  <tr>
    <td class="type">Correct:</td><td class="value">{{success}}<td>
  </tr> 
  <tr>
    <td class="type">False positives:</td><td class="value">{{false_positives}}<td>
  </tr> 
  <tr>
    <td class="type">False negatives:</td><td class="value">{{false_negatives}}<td>
  </tr> 
</table>
<h4>Keyboard Shortcuts</h4>
<table class="controls">
  <tr ng-repeat="shortcut in shortcuts">
    <td class="key">{{shortcut.key}}</td><td class="usage">{{shortcut.description}}<td>
  </tr> 
</table>


<!-- <a id="fullscreenButton" class="fadable" href="javascript:onFullscreen(event);">fullscreen</a>
<canvas id="surface" width="1677" height="283">
    

</canvas> -->


<!-- <div style="height:20px;" class="grid">
  <div ng-repeat="">Color</div>
  <div ng-repeat="">Audio</div>
  <div ng-repeat="">Shape</div>
  <div ng-repeat="">Math</div>
</div> -->
<div style="display:none;" id="background"></div>
</body>
</html>