<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>UP Brain Trainer</title>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="lib/ionic/css/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="css.css" rel="stylesheet">
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-touch.min.js"></script>
    <!-- <script src="http://localhost/cordova.js"></script> -->
    <script src="cordova.js"></script>
    <script src="/components/steroids-js/steroids.js"></script>
    <script src="js.js"></script>
  </head>

<body ng-controller="GameCtrl" class="big flex col bg-gray">

<div id="top" ng-click="top_click()"  class="flex {{top_bg}} flex-1 center-1" style="position:relative;">
  <div ><i class="fa fa-paper-plane"></i></div>
  <div class="flex-5">
    <span ng-hide="playing">
        <span style="font-weight: 200;">UP </span><span style="font-weight: 500;">Brain Trainer</span>
    </span>
    <span ng-show="playing">
      {{elapsed | date:'mm:ss'}}
    </span>
  </div>
  <div><i class="large-text icon ion-ios7-close-empty white" ng-show="playing"></i></div>

  <div id="progress" class="bg-dark-1" ng-show="playing" style="width: {{100*((turns+1)-turn)/(turns+nback+1)}}%;"></div>
</div>

<div class="flex flex-5">

  <div id="start-screen" ng-hide="played || playing" class="flex center gray padding">
      <a class="padding">N-Back exercises are an amazing way to quickly recharge your memory, mindfulness, and focus.</a>
  </div>

  <div id="scores" ng-show="played && !playing" class="flex col flex-1 center-1">
    <div id="message"><a>{{congrat}}</a></div>
    <div class="bg-dark-5 white">
      <div>Last</div>
      <div>Best</div>
    </div>
    <div class="bg-dark-4 white">
      <div>{{last_correct + "" | limitTo: 4}}/{{last_turns}}</div>
      <div>{{best_correct + "" | limitTo: 4}}/{{best_turns}}</div>
    </div>
    <div class="bg-dark-3 white">
      <div>{{last_elapsed | date:'mm:ss'}}</div>
      <div>{{best_elapsed | date:'mm:ss'}}</div>
    </div>
    <div class="bg-dark-2 white">
    <!-- <a href="market://details?id=03923847225909863863"><i class="icon ion-heart">&nbsp;</i>&nbsp;Review</a> -->
    <a href="itms-apps://itunes.apple.com/app/id828660771" style="color: white !important;"><i class="icon ion-heart">&nbsp;</i>&nbsp;Review</a>
    </div>
  </div>

  <div id="board" ng-show="playing" ng-repeat="cell in grid()" class="flex large-text" style="-webkit-flex-basis: {{100/(grid_side()+1)}}%; flex-basis: {{100/(grid_side()+1)}}%; background-color: {{cell_color(cell)}};">
    <div class="flex center" style="font-size: {{22/(grid_side()+1)}}vw;"><a>{{cell_number(cell)}}</a></div>
  </div>
</div>

<div ng-hide="playing" class="flex col flex-3 bg-blue">
  <div class="flex wide wrap-three flex-1 center-1 bg-light-2">
    <div  ng-click="increase_nback()" style="background-color: rgba(0,0,0,0.{{nback}});" class="flex">
        <span><i class="icon ion-ios7-albums">&nbsp;</i>&nbsp;{{nback}}-Back</span>
    </div>
    <div  ng-click="increase_turns()" style="background-color: rgba(0,0,0,0.{{turns}});">
        <span><i class="icon ion-clock">&nbsp;</i>&nbsp;{{turns}} Turns</span>
    </div>
    <div  ng-click="increase_grid()" style="background-color: rgba(0,0,0,0.{{grid_side()+1}});">
        <span><i class="icon ion-grid">&nbsp;</i>&nbsp;Grid of {{grid_size}}</span>
    </div>
  </div>

  <div class="flex wide wrap-three flex-1 center-1 bg-light-2">
    <div  ng-repeat="category in cats" ng-show="category.optional" ng-click="category.on = toggle(category.on)" ng-class="category.on ? 'bg-dark-6' : ' '">
      <span><i ng-class="category.on ? category.on_icon : category.off_icon">&nbsp;</i>&nbsp;{{category.on ? category.name + ' On' : category.name + ' Off'}}</span>
    </div>
  </div>

  <div id="play-button" ng-click="start()" class="flex center">
    <div><a>Play &nbsp;<i class="icon ion-play"></i></a></div>
  </div>
</div>

<div id="playing_instructions" ng-click="next_turn()" ng-show="playing && turn < 1" class="flex flex-3 col bg-blue">
  <div>&nbsp;</div>
  <div ng-show="turn < 1" class="flex flex-5 center bg-blue padding">
    <a>Memorize the {{active_cat_names('and') | lowercase}} on this turn and, in {{nback}} turn{{(nback > 1) ? 's' : ''}} from now, select if the {{active_cat_names('or') | lowercase}} match{{(active_cats().length > 1) ? '' : 'es'}}.</a>
  </div>
  <div>&nbsp;</div>
</div>

<div id="playingcontrols" ng-show="playing && turn >= 1" class="flex flex-3 bg-white" style="position: relative;">
  <div ng-repeat="category in cats" ng-show="category.on" class="control flex col flex-1 center-1" style="-webkit-flex: {{100/active_cats().length - 2}}%; flex: {{100/active_cats().length - 2}}%;">
    <div class="white {{top_bg}}">
      <i class="fa" ng-class="category.on_icon"></i>
    </div>
    <div class="{{(category.match_delay) ? 'bg-green white' : 'green'}}" ng-click="set_tf(category.name, true)">
      <i class="large-text icon ion-ios7-checkmark-empty"></i>
    </div>
    <div class="{{(category.match_delay != null && category.match_delay == false) ? 'bg-red white' : 'red bg-dark-1'}}" ng-click="set_tf(category.name, false)">
      <i class="large-text icon ion-ios7-close-empty"></i>
    </div>
  </div>
</div>

</body>
</html>
